<ul class="navbar container">
    {{#if isInf}}
    <li class="active">
        <a href="#" class="navbar-link">Обо мне</a>
    </li>

    {{else}}
    <li class="">
        <a href="/inf" class="navbar-link">Обо мне</a>
    </li>
    {{/if}}

    {{#if isShpor}}
    <li class="active">
        <a href="#" class="navbar-link">Шпаргалка</a>
    </li>

    {{else}}
    <li class="">
        <a href="/shpor" class="navbar-link">Шпаргалка</a>
    </li>
    {{/if}}

</ul>