<div>
    <ul class="top-lay">
        <li>
            <a href="#meInf">
                <h1 class="logo">Алие Рустемовна</h1>
            </a>
        </li>
        <li>
            <h2><a href="tel:+79785654278" class="Blondie">+7 978 565-42-78</a></h2>
        </li>
    </ul>
</div>