<div class="me-inf">
    <div class="me-inf_text">
        <p>В 1999 году я окончила Симферопольский государственный университет им ВИ Вернадского, факультет матетитики,
            специальность математик, преподаватель. С 1999 года преподавала в школе, где и сейчас работаю. В настоящее
            время занимаюсь репетиторством. На своих занятиях я помогаю понять и устранить пробелы в знаниях (5-7
            классы) и подготовить к сдаче экзаменов ОГЭ и ЕГЭ учащихся 8-11 классов. На занятии объясняю материал на
            доступном для ребенка языке создавая теплую рабочую атмосферу и хорошее настроение. Своей задачей считаю
            помочь ребенку подготовиться к экзамену и дать необходимую базу знаний, которая позволит достичь
            поставленной цели.</p>
    </div>
    <div class="me-inf_img">
        <div class="me-inf_img"><img src="/me.jpg" alt="me"></div>
    </div>
</div>